.b-header {
	height:70px;
	background:#34495E;
	line-height:70px;
}

.e-title {
	padding:0 20px;
	color:#FFF;
	font-size:25px;
}

.autocomplete-suggestions {
	display:none!important;
}

.e-search__street {
	display:block;
	box-sizing:border-box;
	margin:40px auto;
	padding:8px 12px;
	max-width:470px;
	width:100%;
	height:42px;
	border:2px solid #bdc3c7;
	border-radius:6px;
	box-shadow:none;
	color:#34495e;
	font-weight:300;
	font-size:2em;
	transition:border .25s linear,color .25s linear,background-color .25s linear;
	-webkit-appearance:none;
}

.e-search__street:focus {
	outline:0;
	border-color:#1abc9c;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.e-search__error {
	border-color:#e74c3c;
	-webkit-box-shadow:none;
	box-shadow:none;
	color:#e74c3c;
}

.b-search__items {
	display:none;
	margin:0 auto;
	max-width:800px;
	width:100%;
	height:200px;
	color:#7F8C8D;
	text-align:center;
	font-size:3em;
}

.e-old__street,.e-new__street {
	color:#2C3E50;
	font-weight:500;
}

.e-new__street {
}

.b-existing__items {
	margin:0 auto;
	width:700px;
	font-size:20px;
}

.b-existing__items__wrapper > tr {
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	transition: all 100ms ease-in;
}

.b-existing__items__wrapper > tr:hover {
	background: #2980B9;
	transition: all 100ms ease-in;
}

.b-title__wrapper {
	padding-bottom:8px;
}

.e-old__name__title {
	text-align:right;
	font-weight:700;
}

.e-name__cursor {
	text-align:center;
}

.e-new__name__title {
	font-weight:700;
}