# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
node_modules/
*.codekit

styles/.sass-cache/06339bd40e5da098d429e8db4b7ba7a796d8e970/grid.scssc
