.input__wrapper {
  padding: 0 20px;
}

.input {
  display: block;
  width: 100%;
  max-width: 470px;
  height: 42px;
  margin: 40px auto;
  padding: 8px 12px;
  font-size: 2em;
  font-weight: 300;
  color: #34495e;
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  transition: border-color 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
  appearance: none;

  &:focus {
    border-color: #1abc9c;
    outline: 0;
    box-shadow: none;
  }

  &._error {
    color: $c-error;
    border-color: $c-error;
  }

  &::placeholder {
    font-family: $ff;
  }
}

.search__data {
  @include grid-row();
}

.search__data-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // min-height: 30px;
  margin-bottom: 10px;
  padding: 10px 10px;
  cursor: pointer;

  &._top {
    height: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 50px;
    cursor: default;
  }

  &:hover:not(._top) {
    background-color: rgba(#3498db, 0.5);
  }
}

.search__data-title {
  display: block;
  flex-basis: 48%;
  font-size: 2.5em;
  text-align: left;
}
