@import "styles/reset";

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;

  @media screen and (max-width: 425px) {
    font-size: 14px;
  }

  @media screen and (max-width: 320px) {
    font-size: 12px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}
